[Desktop Entry]
Name=S Pen Bridge
GenericName=Graphics Tablet Controller
Comment=Turn Samsung Galaxy Tab and S Pen into a Linux graphics tablet
Exec=start.sh
Icon=spen_icon
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;
Keywords=spen;tablet;wacom;stylus;samsung;krita;gimp;
StartupNotify=true
